In [27]:
a=10+3j
b=3+5j
type(a),a+b

(complex, (13+8j))

In [17]:
id(a)

140726209624792

In [35]:
#MultiLine Strings
x = ''' asdasaf
fdsfsdf
sdfsdfsdfsdf
sdfsfsdfdsf'''
x

' asdasaf\nfdsfsdf\nsdfsdfsdfsdf\nsdfsfsdfdsf'

In [37]:
#Int Function
int(3.45)

3

In [51]:
#Float Function
float("5.6"), float(5)

(5.6, 5.0)

In [45]:
#Complex Function
a=5
b=3
complex(a,b), complex(4), complex(True)

((5+3j), (4+0j), (1+0j))

In [59]:
x = "Hello learning python is very easy"
print('Hello' in x)
print('hello' in x)
print('d' in x)
print('d' not in x)

True
False
False
True

In [67]:
list1 = ["ashish","lakhan","ayush"]
print('ashish' in list1)
print('krushna' in list1)
print('krushna' not in list1)

True
False
True

In [73]:
import math
r = 5
area = math.pi * (r**2)
print("area of circle is" , area)
print(math.sqrt(16))

area of circle is 78.53981633974483
4.0

In [75]:
a = input("Enter a")
b = input("Enter b")
print(a+b)

Enter a 11
Enter b 22

1122

In [77]:
a = int(input("Enter a"))
b = int(input("Enter b"))
print(a+b)

Enter a 11
Enter b 22

33

In [79]:
print("addition is" , int(input("Enter a"))+int(input("Enter b")))

Enter a 33
Enter b 65

addition is 98

In [87]:
a = eval(input("Enter any "))
print(a)

Enter any  33+24-13/43+23*43

1045.6976744186047

In [99]:
#Escape Sequence Operators \n and \t and %
print("Hello \n world")
print("Hello \t world")
print("hello"+"world")
print("hello "*4)

Hello
 world
Hello 	 world
helloworld
hello hello hello hello

In [103]:
a,b,c = 10,20,30
print(a,b,c)
print(a,b,c,sep=":")

10 20 30
10:20:30

In [109]:
print("hello ",end='')
print("lakhan ",end='')
print("god")

hello lakhan god

In [117]:
a=10
b=20
c=30
print("a value is %i" %a)
print("b value is %d and c value is %d" %(b,c))

a value is 10
b value is 20 and c value is 30

In [123]:
name = "lakhan"
salary = 3000000
company = "Google"
print("Hello {0} your salary is {1} and company is {2}".format(name,salary,company))
print("Hello {x} your salary is {y} and company is {z}".format(x=name,y=salary,z=company))

Hello lakhan your salary is 3000000 and company is Google
Hello lakhan your salary is 3000000 and company is Google

In [131]:
#Find Last digit of number
a = int(input("Enter no. "))
print(a%10)

Enter no.  2543

3

In [139]:
#Find sum of 3 digit number
n = int(input("Enter no. "))
a = n%10
n = n//10
b = n%10
n = n//10
c = n%10
print(a+b+c)

Enter no.  123

6

In [147]:
#Find sum of 5 digit number
n = int(input("Enter no. ")) #12345
a = n%10 #5
n = n//10 #1234
b = n%10 #4
n = n//10 #123
c = n%10 #3
n = n//10 #12
d = n%10 #2
n = n//10 #1
e = n%10 #1
print("sum: ",a+b+c+d+e)
print("reverse: ",a*10000+b*1000+c*100+d*10+e)

Enter no.  12345

sum:  15
reverse:  54321

In [155]:
n = int(input("Enter no. "))
print(n//100000000 + n%10)

Enter no.  123456789

10

In [161]:
#String Slicing
s = "lakhan"
print(s[0])
print(s[-1])
print(s[0:4])
print(s[2:4])
print(s[:5])
print(s[3:5])
print(s[::-1])
print(s[::])

l
n
lakh
kh
lakha
ha
nahkal
lakhan

In [165]:
#if
n1=int(input("enter n1"))
n2=int(input("enter n2"))
n3=int(input("enter n3"))
n4=int(input("enter n4"))
n5=int(input("enter n5"))
max = n1
if(n2>max):
    max=n2
if(n3>max):
    max=n3
if(n4>max):
    max=n4
if(n5>max):
    max=n5
print("max is: ",max)

enter n1 34
enter n2 53
enter n3 23
enter n4 64
enter n5 1

max is:  64

In [175]:
n1=int(input("enter marks1"))
n2=int(input("enter marks2"))
n3=int(input("enter marks3"))
g = input("enter gender(m/f)")
per = (n1+n2+n3)/3

if(per>=82 and g=='f'):
    print("She can take admission")
elif(per>=62 and g=='m'):
    print("He can take admission")
else:
    print("Can't take admission")

enter marks1 88
enter marks2 88
enter marks3 88
enter gender(m/f) f

She can take admission

In [183]:
#Check leap year
n=int(input("enter Year: "))
if(n%400==0):
    print("this is century leap year")
elif(n%4==0 and n%100!=0):
    print("normal leap year")
else:
    print("not a leap year")

enter Year:  1900

not a leap year

In [195]:
cp = int(input("Enter cost price: "))
role = input("are you student(y/n): ")
dis=0
if(role=='y'):
    if(cp>500):
        dis=cp*10/100
    else:
        dis=cp*5/100
else:
    if(cp>500):
        dis=cp*8/100
    else:
        dis=cp*2/100

print("cost price: ",cp)
print("total discount: ",dis)
print("net price: ",cp-dis)

Enter cost price:  100
are you student(y/n):  y

cost price:  100
total discount:  5.0
net price:  95.0

In [219]:
# ASCII Values
#A-65 , a-97 , 0-48

x = input("enter any character: ")
x = ord(x)
if(x>=65 and x<=90):
    print("Upper case alphabet")
elif(x>=97 and x<=122):
    print("lower case alphabet")
elif(x>=48 and x<=57):
    print("digit")
else:
    print("special character")

enter any character:  5

digit

In [221]:
#loops- for while
#for loop is used when range is given
#while loop is used when range is not given

In [233]:
#reverse number
n = int(input("Enter number: "))
rev=0
while(n>0):
    rev = rev*10 + n%10
    n=n//10
print(rev)

Enter number:  12546

64521

In [237]:
#no of digits
n = int(input("Enter number: "))
i=0
while(n>0):
    i=i+1
    n=n//10
print(i)

Enter number:  123466

6

In [241]:
#sum of digits
n = int(input("Enter number: "))
sum=0
while(n>0):
    sum=sum+n%10
    n=n//10
print(sum)

Enter number:  1234

10

In [3]:
#multiplication of digits
n = int(input("Enter number: "))
prod=1
while(n>0):
    prod=prod*(n%10)
    n=n//10
print(prod)

Enter number:  34

12

In [5]:
#factorial of digits
n = int(input("Enter number: "))
fact = 1
while(n>0):
    fact=fact*n
    n=n-1
print(fact)

Enter number:  4

24

In [19]:
#Armstrong
n = int(input("Enter number: "))
x=n
x2=n
i = 0
while(x>0):
    i=i+1
    x=x//10
sum = 0
while(n>0):
    d = n%10
    sum = sum + (d**i)
    n = n//10
if sum==x2:
    print("yes")
else:
    print("no")

Enter number:  153

yes

In [25]:
#Armstrong between 1 to 1000
for j in range(1,10001):
    n = j
    x=n
    x2=n
    i = 0
    while(x>0):
        i=i+1
        x=x//10
    sum = 0
    while(n>0):
        d = n%10
        sum = sum + (d**i)
        n = n//10
    if sum==x2:
        print(j)

1
2
3
4
5
6
7
8
9
153
370
371
407
1634
8208
9474

In [5]:
#Peterson number
n = int(input("Enter n: "))
sum=0
x=n
while(n>0):
    d = n%10
    fact=1
    while(d>0):
        fact = fact * d
        d = d -1
    sum = sum + fact
    n=n//10
if(sum==x):
    print("yes")
else:
    print("no")

Enter n:  145

yes

In [29]:
#Tech Number
n = int(input("Enter n: "))
n1=n
n2=n
digitCount=0
while(n>0):
    digitCount= digitCount+1
    n=n//10
if(digitCount%2!=0):
    print("no")
else:
    dc = digitCount//2
    sum1=0
    sum2=0
    sum1 = n1 % (10**dc)
    sum2 = n1//(10**dc)
    sum = sum1+sum2
    fNo = sum**2
    if(fNo==n2):
        print("yes")
    else:
        print("no")

Enter n:  2025

yes