In [13]:
#Break and Continue
for i in range(1,6):
  if i==3:
    continue
  print(i,11-i)

1 10
2 9
4 7
5 6

In [45]:
#nested loops

for x in range(1,5): #rows
    for y in range(1,5):  #cols
        print(x,end='')
    print()

1111
2222
3333
4444

In [43]:
i=1
for x in range(1,5): #rows
    for y in range(1,5):  #cols
        print(i,end=' ')
        i=i+1
    print()

1 2 3 4
5 6 7 8
9 10 11 12
13 14 15 16

In [47]:
i=65
for x in range(1,5): #rows
    for y in range(1,5):  #cols
        print(chr(i),end=' ')
        i=i+1
    print()

A B C D
E F G H
I J K L
M N O P

In [61]:
for x in range(1,5): #rows
    for y in range(1,x+1):  #cols
        print(x,end=' ')
    print()

1
2 2
3 3 3
4 4 4 4

In [63]:
for x in range(1,5): #rows
    for y in range(1,x+1):  #cols
        print("*",end=' ')
    print()

*
* *
* * *
* * * *

In [65]:
for i in range(4,0,-1):
    for j in range(0,i):
        print("*",end=' ')
    print()

* * * *
* * *
* *
*

In [113]:
sp=1
for i in range(1,5):
    for j in range(1,i):
        print(" ",end='')
        sp=sp+1
    for k in range(1,6-i):
        print("*",end='')
    print()

****
 ***
  **
   *

In [111]:
for i in range(1,5):
    for k in range(1,5-i):
        print(" ",end="")
    for j in range(1,i+1):
        print("*",end="")
    print()

   *
  **
 ***
****

In [117]:
#Del
a=10
print(a)
del a
print(a)

10

NameError: name 'a' is not defined

In [121]:
#Sting Handling

s = "Learning Python is very easy from Ashish Sir" 
print(s.find("Python")) #9
print(s.find("Java")) #-1
print(s.find("r")) #3
print(s.rfind("r")) #43

9
-1
3
43

In [125]:
s = "abcabcabcabcadda"
print(s.count('a'))
print(s.count('ab'))
print(s.count('a',3,10))

6
4
3

In [127]:
s = "Learning Python is very difficult from Ashish Sir" 
s1 = s.replace("difficult","easy")
print(s)
print(s1)

Learning Python is very difficult from Ashish Sir
Learning Python is very easy from Ashish Sir

In [133]:
#immutable means it cannot be changed in same memory
#split function
l = s1.split()
print(l)
print(type(l))
for x in l:
    print(x)

['Learning', 'Python', 'is', 'very', 'easy', 'from', 'Ashish', 'Sir']
<class 'list'>
Learning
Python
is
very
easy
from
Ashish
Sir

In [141]:
#split function
s = "www.google.com"
l = s.split(".")
print(l)
print(l[1])

['www', 'google', 'com']
google

In [145]:
#join function
l = ["Shipur","Wapi","Sendhwa"]
s = ' : '.join(l)
print(s)

Shipur : Wapi : Sendhwa

In [153]:

s = "Learning Python is very difficult from Ashish Sir" 
print(s.lower())
print(s.upper())
print(s.startswith('Learning'))
print(s.endswith('Sir'))
print(s.endswith('sir'))

learning python is very difficult from ashish sir
LEARNING PYTHON IS VERY DIFFICULT FROM ASHISH SIR
True
True
False

In [155]:
# To check type of characters present in a string:

# Python contains the following methods:
# 1) isalnum(): Returns True if all characters are alphanumeric ( a to z , A to Z ,0 to9 )
# 2) isalpha(): Returns True if all characters are only alphabet symbols(a to z,A to Z)
# 3) isdigit(): Returns True if all characters are digits only( 0 to 9)
# 4) islower(): Returns True if all characters are lower case alphabet symbolsI
# 5) isupper(): Returns True if all characters are upper case aplhabet symbols
# 6) istitle(): Returns True if string is in title case
# 7) isspace(): Returns True if string contains only spaces

In [163]:
s = input("Enter mobile no: ")
if(s.isdigit()):
    if(len(s)==10):
        if(s.startswith('6') or s.startswith('7') or s.startswith('8') or s.startswith('9')):
            print("valid")
        else:
            print("not indian")
    else:
        print("less than 10 digit")
else:
    print("enter digits only")

Enter mobile no:  7123456890

valid

In [167]:
#string reverse
s=input("Enter string: ")
print(''.join(reversed(s)))
print(s[::-1])

Enter string:  lakhan

nahkal
nahkal

In [177]:
#reverse without using any function
z="lakhan"
rev = ""
for i in z:
    rev=i+rev
print(rev)

nahkal

In [189]:
s = "Learning Python is very easy from Ashish Sir" 
l = s.split()
print(l)
s1 = ""
for i in l:
    s1 = i + " " + s1
print(s1)

['Learning', 'Python', 'is', 'very', 'easy', 'from', 'Ashish', 'Sir']
Sir Ashish from easy very is Python Learning

In [195]:
s = "Learning Python is very easy from Ashish Sir" 
l = s.split()
s1 = ""
for i in l:
    rev = ""
    for j in i:
        rev = j + rev
    s1 =  s1 + " " + rev
print(s1)

 gninraeL nohtyP si yrev ysae morf hsihsA riS

In [201]:
#Remove Duplicates
s = "AAAABBBBCCCCDDDD"
s1 = []
for x in s:
    if x not in s1:
        s1.append(x)
        output = ''.join(s1)
print(output)

ABCD

In [216]:
#List
#Insertation order preserved
#duplicates objects are allowed
# insertion order preserved.
# duplicate objects are allowed
# heterogeneous objects are allowed.
# List is dynamic because based on our requirement we can increase
# the size and decrease the size.
# In List the elements will be placed within square brackets [ ] and
# with comma seperator.
# We can differentiate duplicate elements by using index and we can
# preserve insertion order by using index. Hence index will play very
# important role.
# Python supports both positive and negative indexes. +ve index
# means from left to right where as negative index means right to left

#functions
#len(list)
#list.append(" ")
#list.insert(1," ") -- will insert at given indedx
#list1.extend(l2) -- all L2 items will get added in list1
#list.remove("") -- only 1st occurence will get removed
#list.pop("") -- will remove and return last element

In [218]:
n1=[10,20,10,30]
n2=[2,42,4,24,2]
res=n1+n2
print(res)
res1=n1*3
print(res1)

[10, 20, 10, 30, 2, 42, 4, 24, 2]
[10, 20, 10, 30, 10, 20, 10, 30, 10, 20, 10, 30]

In [220]:
n=[10,20,30,[23,56,23]]
print(n[0])
print(n[2])
print(n[3])
print(n[3][0])

10
30
[23, 56, 23]
23

In [226]:
n=[[10,20,30],[40,50,60], [70,80,90]]
print(n)
print("Elements by Row wise:")
for r in n:
  print(r)
print("Elements by Matrix style:")
for i in range(len(n)):
  for j in range(len(n[i])):
    print(n[i][j],end=' ')
  print()

[[10, 20, 30], [40, 50, 60], [70, 80, 90]]
Elements by Row wise:
[10, 20, 30]
[40, 50, 60]
[70, 80, 90]
Elements by Matrix style:
10 20 30
40 50 60
70 80 90

In [242]:
#Capjemini Question

n = int(input("Enter no. of semesters: "))
noOfSub=[]
for i in range(n):
    m = int(input(f"Enter no of subject in {i+1} semester: "))
    noOfSub.append(m)
max_marks = []
for i in range(len(noOfSub)):
    marks=[]
    print(f"marks obtained in semester {i+1}")
    for j in range(noOfSub[i]):
        x = int(input())
        if(x>100):
            f = True
            while(f):
                print("you have entered marks greater than 100\nplease re enter")
                x=int(input())
                if(x<=100):
                    f=False
        marks.append(x)
    max_marks.append( max(marks))
for i in range(len(max_marks)):
    print(f"maximum mark in semester {i+1} :" , max_marks[i])

Enter no. of semesters:  3
Enter no of subject in 1 semester:  3
Enter no of subject in 2 semester:  2
Enter no of subject in 3 semester:  4

marks obtained in semester 1

 101

you have entered marks greater than 100
 please re enter

 101

you have entered marks greater than 100
 please re enter

 101

you have entered marks greater than 100
 please re enter

 101

you have entered marks greater than 100
 please re enter

 100
 1
 1

marks obtained in semester 2

 1
 1

marks obtained in semester 3

 11
 1
 1
 11

maximum mark in semester 1 : 100
maximum mark in semester 2 : 1
maximum mark in semester 3 : 11

In [3]:
#Remove Duplicate from list
list = [21,32,4,12,4,5,2,12,3,4,1,1,1,1,3,4,4]
print(list)
s = set(list)
print(s)

[21, 32, 4, 12, 4, 5, 2, 12, 3, 4, 1, 1, 1, 1, 3, 4, 4]
{32, 1, 2, 3, 4, 5, 12, 21}

In [5]:
# Dictionary Data Structure

# ->We can use List, Tuple and Set to represent a group of individual objects as a single entity.
# ->If we want to represent a group of objects as key-value pairs then we should go for Dictionary.
# Eg:
# rollno ---- name
# phone number -- address
# ipaddress --- domain name

# Duplicate keys are not allowed but values can be duplicated.
# Hetrogeneous objects are allowed for both key and values.
# insertion order is not preserved
# Dictionaries are mutable
# Dictionaries are dynamic
# indexing and slicing concepts are not applicable

In [7]:
d={}
d[101] = "Ayush"
d[102] = "Jassssh"
print(d)

{101: 'Ayush', 102: 'Jassssh'}

In [13]:
d = {100:'ayush' , 200:'lakhan' , 300:'jash' , 400:'krushna'}
d[101] = "Ayush"
d[102] = "Jassssh"
print(d)
d[100] = "Varun"
print(d)

{100: 'ayush', 200: 'lakhan', 300: 'jash', 400: 'krushna', 101: 'Ayush', 102: 'Jassssh'}
{100: 'Varun', 200: 'lakhan', 300: 'jash', 400: 'krushna', 101: 'Ayush', 102: 'Jassssh'}

In [23]:
rec={}
n=int(input("Enter number of students: "))
for i in range(0,n):
    name=input("Enter Student Name: ")
    marks=input("Enter % of Marks of Student: ")
    rec[name]=marks

print("Name\tMarks")
print("-")
for i in rec:
    print(i,"\t",rec[i])

Enter number of students:  2
Enter Student Name:  l
Enter % of Marks of Student:  3
Enter Student Name:  a
Enter % of Marks of Student:  2

Name	Marks
-
l 	 3
a 	 2

In [27]:
d={100: 'ashish' ,200: 'Prashant', 300: 'sandip'}
print(d[100])
print(d.get(100))
print(d.get(400))
print(d.get(100,"Guest"))
print(d.get(400,"Guest"))

ashish
ashish
None
ashish
Guest

In [33]:
d={100: 'ashish' ,200: 'Prashant', 300: 'sandip'}
print(d.keys())
print(d.values())
for k in d.keys():
    print(k)

dict_keys([100, 200, 300])
dict_values(['ashish', 'Prashant', 'sandip'])
100
200
300

In [39]:
dict = {}
n = int(input("Enter n: "))
for i in range(n):
    x  = int(input("Enter value: "))
    dict[i] = x
sum=0
for k,v in dict.items():
    sum = sum + v
print(dict)
print(sum)

Enter n:  3
Enter value:  4
Enter value:  5
Enter value:  6

{0: 4, 1: 5, 2: 6}
15

In [41]:
dict = {}
n = int(input("Enter n: "))
for i in range(n):
    x  = (input("Enter name: "))
    y = int(input("Enter marks: "))
    dict[x] = y
z = input("whose marks? ")
print(dict[z])

Enter n:  2
Enter name:  lakhan
Enter marks:  23
Enter name:  ayush
Enter marks:  22
whose marks?  ayush

22

In [60]:
arr = [1,3,2,4,2,34,5,6,7]
ans = []
for i in range(len(arr)):
    max = -1
    for j in range(i+1,len(arr)):
        if(arr[j]>arr[i]):
            max = arr[j]
            break
    ans.append(max)
print(ans)

[3, 4, 4, 34, 34, -1, 6, 7, -1]

In [64]:
s="aabbbbeeeeffggg"
ans=[]
c=1
for i in range(1,len(s)):
    if s[i]==s[i-1]:
        c+=1
    else:
        ans.append(s[i-1]+str(c))
        c=1
ans.append(s[-1]+str(c))
c_s=''.join(ans)
c_s

'a2b4e4f2g3'

In [76]:
str1 = input("Enter 1st String: ").lower()
str2 = input("Enter 2nd String: ").lower()

str1 = ''.join(sorted(str1))
str2 = ''.join(sorted(str2))

f = str1 == str2
print(f)

Enter 1st String:  lakhan
Enter 2nd String:  khaaln

True